body{
    background-color: #fffefa;
    color: #444;
    font-family: "IBM Plex Sans", sans-serif;
}

/* Hero Section */

.hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/IMG_6235.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center;

}

.hero-text h1:hover {
    color: #76AFE2;
}

.hero-text p:hover {
    color: #76AFE2;
}


/* Content Section */

.content-container{
    background-color: unset;
    height: inherit;
}

.content {
    display: flex;
    justify-content: space-around;
}

.content-message {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.content-message button {
    border: none;
    width: 8rem;
    height: 2rem;
    background-color: #eee;
    color: #444;
}

.content-message button:hover {
    background-color: #ccc;
    transition: 0.4s;
}

.content-image img {
    max-width: 400px;
    max-height: 400px;
    object-fit: contain;
    border-radius: 3px;
    border: 1px solid black;
}


/* Accordion Section */

.accordion-container {
    background-color: unset;
    height: unset;
}

.accordion-header {
    color: #444;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
  }
 
.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.active-panel {
    display: block;
    color: #444;
}

/* Footer Section */
.footer-container {
    background-color: black; 
    height: unset;
    color: white;
}
.footer-wrapper {
    display: flex;
    flex-direction: row;
    padding: 3rem;
}

.footer-message {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
}

.footer-copyright {
    margin: auto;
}

.footer-map {
    width: 50%;
    margin: auto;
}



/*
    Screen less than 1200px

    - Adjust the content section so that the image is above the message
    - Hide the map, and maximize the width of the footer information
*/
@media ( width <= 1200px) {
    .content{
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer-message {
        width: 100%;
    }

    .footer-wrapper {
        flex-direction: column;
        padding: 1rem;
    }

    .footer-map {
        display: none;
    }
}

/**
    Screen less than 400px

    - Hide the image in the content section
    - Turn the information in the footer into 1 column display

**/

@media ( width <= 400px) {
    .content-image {
        display: none;
    }

    .footer-message {
        width: 100%;
        flex-direction: column;
    }

}